<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyDBConnectionString"
             connectionString="Data Source=10.30.83.5;Initial Catalog=SACNew_DB;User ID=sac;Password=sac;"
             providerName="System.Data.SqlClient" />

    <add name="FOConnectionString"
      connectionString="Data Source=10.30.83.5;Initial Catalog=FO;User ID=sac;Password=sac;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>